
@import './_variables.scss';

.landing-page {
    background: url('../images/landingpage.jpg') center/cover no-repeat;
    height: 100vh;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.2); /* Adjust the alpha value for transparency */
      }

    #landing-page-bg{
        height: 40px;
        width: 80px;
        position: absolute;
        right: 0;
        margin: 30px;
    }

    header{
       
    }
  
}