@import './_variables.scss';

.products-page{
    header{
        margin-top: 20px;
    }

    section{
        display: flex;
        gap: 20px;

        #filter-section{
            
        }
    }
}